/Minimization.class
/MainDecision.class
/VerificationUnauthorizedKeys.class
/Minimizd.class
/Minimize.class
/KeyFinder.class
/KeysFound.class
/GroupOfKeys.class
/GroupOfKeys$1.class
/KeysFound$1.class
/GroupOfKeysInOneFile.class
/GroupOfAllFiles.class
